<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@0.11.5/dist/full.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper.min.css" />
    <link rel="stylesheet" href="css/background2.css">
    <link rel="stylesheet" href="css/style.css">
  
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

     <!-- Demo styles -->
  <style>
    html,
    body {
      position: relative;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .header-bg {
        background: #320396;
    }

  </style>


<title>EXdu</title>
</head>
<body class="bg-content-200">
  
<!--NavBar-->  
<div class="grid grid-cols-10 sticky top-0 z-40" >
  <div class="col-span-1"></div>

    <div class="navbar col-span-10 shadow-xl header-bg mb-5 text-content-100 py-4">
      <div class="flex-1 px-2 mx-6">
        <span class="text-4xl font-bold">
          <a href="index.html"><span class="text-secondary">X</span>Edu</a>
        </span>
      </div>
      <div class="flex-none hidden px-2 mx-2 lg:flex">
        <div class="flex items-stretch">
          <a class="btn btn-ghost rounded-btn hover:text-content-100" href="XEdu-Alpha.pdf">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              class="inline-block w-5 mr-2 stroke-current">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9">
              </path>
            </svg>
            XEdu Alpha Submission PDF
          </a>
          <a class="btn btn-ghost rounded-btn hover:text-content-100">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              class="inline-block w-5 mr-2 stroke-current">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9">
              </path>
            </svg>
            Notifications
          </a>

            <!-- Login Modal-->
        <a href="#my-modal-login" class="btn btn-primary mx-2">Login</a>

        <div id="my-modal-login" class="modal">
          <div class="modal-box">

            <!-- Login Form-->
            <form id="formLogin" name="formLogin" method="POST" action="#" onsubmit="loginForm()" class=" p-3 pl-10 pr-10 grid grid-cols-1 gap-2">
              <h4 class="block text-7xl font-bold text-purple-600 text-center pb-4"><span class="text-secondary">X</span>Edu</h4>

              <label class="block flex ">
                <input type="text" name="username"
                  class="text-gray-800 mt-1 block w-full rounded-md rounded-full border-gray-300 shadow-md focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 pl-2 "
                  placeholder="Enter Username">
              </label>

              <label class="block flex ">
                <input type="password" name="password"
                  class="text-gray-800 mt-1 block w-full rounded-md rounded-full border-gray-300 shadow-md focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 pl-2"
                  placeholder="Enter Password">
              </label>

              <button class="btn btn-secondary mt-5" type="submit" > Login</button>

            </form>

            <div class="modal-action mt-1 pr-10">
              <a href="#" class="btn ">Close</a>
            </div>

          </div>
        </div>

        <!-- Registration Modal-->
        <a href="#my-modal-reg" class="btn btn-secondary">Register</a>
        <div id="my-modal-reg" class="modal">
          <div class="modal-box">

            <!-- Registration Form-->
            <div class=" p-3 pl-10 pr-10 grid grid-cols-1 gap-2">
              <h4 class="block text-7xl font-bold text-purple-600 text-center pb-4"> <span class="text-secondary">X</span>Edu</h4>

              <label class="block flex ">
                <input type="text"
                  class="mt-1 block w-full rounded-md rounded-full border-gray-300 shadow-md focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 pl-5"
                  placeholder="Username">
              </label>

              <label class="block flex ">
                <input type="password"
                  class="mt-1 block w-full rounded-md rounded-full border-gray-300 shadow-md focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 pl-5"
                  placeholder="Password">
              </label>

              <label class="block flex">
                <input type="password"
                  class="mt-1 block w-full rounded-md rounded-full border-gray-300 shadow-md focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 pl-5"
                  placeholder="Confirm Password">
              </label>

              <button class="btn btn-secondary mt-5 ">Sign Up</button>

            </div>

            <div class="modal-action mt-1 pr-10">
              <a href="#" class="btn ">Close</a>
            </div>

          </div>
        </div>
         
        </div>
      </div>
    </div>

  <div class="col-span-1"></div>
</div>

    <div id="app" class="mt-5 flex-col content-center">
    
      <div class="grid grid-cols-10 flex ">
        <div class="col-span-1"></div>
        <div class="col-span-8">
          <div class="card shadow-xl image-full mx-10 h-96">
            <figure class="h-96">
              <img src="img/courses.jpg">
            </figure>
            <div class="justify-end card-body">
              <h2 class="card-title text-5xl"> Courses</h2>
              <p>Choose from the video courses with new additions coming soon.</p>
    
            </div>
          </div>
        </div>
        <div class="col-span-1"></div>
        
        <!-- Search box-->
        <div class="col-span-1"></div>
        <div class="col-span-8 mx-10 pt-10 ">
          <input type="text" v-model="search" placeholder="Search Course" id="search-input" class="rounded-lg shadow-xl"></input>
        </div>
        <div class="col-span-1"></div>
    
        <!-- Courses-->
        <div class="col-span-1"></div>
        <div class="col-span-8 mx-10 pt-10 pb-10">
    
          <div class="grid grid-cols-3 gap-8">
            <div class="card h-96 shadow-xl image-full" v-for="course in filteredList">
              <figure>
                <img v-bind:src="course.image">
              </figure>
              <div class="justify-end card-body">
                <h2 class="card-title">{{ course.title }}</h2>
                <p >{{ course.description }}</p>
                <p id="rate">{{ course.rating }}</p>

                <!-- Star rating code from: https://codepen.io/jakobud/pen/GorbQY -->
                

                  <!-- Change the width of this rect to change the rating -->
                  <star-rating :rating="course.rating">
                  </star-rating>
                  
                  <!-- <rect width="50%" class='rating__value' clip-path="url(#stars)"></rect> -->
               

                <div class="card-actions">
                  <button class="btn btn-primary">Get Started</button>
                </div>
              </div>
            </div>
    
          </div>
        </div>
        <div class="col-span-1"></div>
      </div>
    
    </div>

<!-- Footer -->
<div class="grid grid-cols-10 bottom-0 z-40" >
    <div class="col-span-1"></div>
    <div class="navbar col-span-10 shadow-xl header-bg  text-content-100 py-4">
        <div class="flex-1 px-2 justify-center mx-6">
            <span class="text-2xl font-bold">
              <a href="index.html"><span class="text-secondary">X</span>Edu</a>
            </span>
        </div>
    </div>
    <div class="col-span-1"></div>
</div>
    
</body>

    <!-- Animated background -->
<ul class="circles" style="z-index:-1; position: absolute;" >
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>



<script>
class Post {
    constructor(title, description, img) {
    this.title = title;
    this.description = description;
    this.img = img;
  }
}

Vue.component("star-rating", {
  template: `
  <div>
    <svg viewBox="0 0 1000 200" class='rating' width="80" height="80">
      <defs>
        <polygon id="star" points="100,0 131,66 200,76 150,128 162,200 100,166 38,200 50,128 0,76 69,66 " />
        <clipPath id="stars">
          <use href="#star" />
          <use href="#star" x="20%" />
          <use href="#star" x="40%" />
          <use href="#star" x="60%" />
          <use href="#star" x="80%" />
        </clipPath>
      </defs>
      <rect class='rating__background' clip-path="url(#stars)"></rect>
      <rect v-bind:width="starWidth()" class='rating__value' clip-path="url(#stars)"></rect>
    </svg>
  </div>
   `,
   props: ["rating"],
   methods: {
      starWidth() {
         return this.rating * 20 + "%"
      }
   }
})

const app = new Vue ({
  el: '#app',
  data: {
    search: '',
    courses: [],
    postList : [
    new Post(
        'Virtual Reality', 
        'Rerum reiciendis beatae tenetur excepturi aut pariatur est eos. molestiae voluptates incidunt iure sapiente.', 
        'img/vr.jpg'
      ),
      new Post(
        'Animation', 
        'Rerum reiciendis beatae tenetur excepturi aut pariatur est eos. molestiae voluptates incidunt iure sapiente.', 
        'img/animation.png'
      ),
      new Post(
        'Videography', 
        'Rerum reiciendis beatae tenetur excepturi aut pariatur est eos. molestiae voluptates incidunt iure sapiente.', 
        'img/video.jpg'
      ),
      new Post(
        'Marketing', 
        'Rerum reiciendis beatae tenetur excepturi aut pariatur est eos. molestiae voluptates incidunt iure sapiente.', 
        'img/marketing.jpg'
      ),
      new Post(
        'Music', 
        'Rerum reiciendis beatae tenetur excepturi aut pariatur est eos. molestiae voluptates incidunt iure sapiente.', 
        'img/music.jpg'
      ),
      new Post(
        'Social Media', 
        'Rerum reiciendis beatae tenetur excepturi aut pariatur est eos. molestiae voluptates incidunt iure sapiente.', 
        'img/socialmedia.jpg'
      ),
      new Post(
        'User Experience', 
        'Rerum reiciendis beatae tenetur excepturi aut pariatur est eos. molestiae voluptates incidunt iure sapiente.', 
        'img/ux.jpg'
      ),
      new Post(
        'Web Development', 
        'Rerum reiciendis beatae tenetur excepturi aut pariatur est eos. molestiae voluptates incidunt iure sapiente.', 
        'img/web.jpg'
      ),
      new Post(
        'Photography', 
        'Rerum reiciendis beatae tenetur excepturi aut pariatur est eos. molestiae voluptates incidunt iure sapiente.', 
        'img/photography.jpg'
      ),
     
]
  },
  computed: {
    filteredList() {
      return this.courses.filter(post => {
        return post.title.toLowerCase().includes(this.search.toLowerCase())
      })
    }
  }
})

axios
    .get('https://luqman.edinburgh.domains/fatfree/xedu/api/courses')
    .then(response => (app.courses = response.data))

  /* Login form */
  function loginForm() {
  var username = document.forms["formLogin"]["username"].value;
  var password = document.forms["formLogin"]["password"].value;
  
  axios.post('https://luqman.edinburgh.domains/fatfree/xedu/api/login', {
    username: username,
    password: password
  })
  .then((response) => {
    console.log(response);
  }, (error) => {
    console.log(error);
  });
  
}


</script>
</html>